@mixin flex-preset($direction, $justify-cont: flex-start, $align-items: flex-start) { 
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-cont;
  align-items: $align-items;
}

@mixin image-preset($width, $height) { 
  width: $width;
  height: $height;
}

@mixin card-preset($position, $zIndex: 0, $left:0, $top:0, $right:0, $bottom:0) { 
  position: $position;
  z-index: $zIndex;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}

@mixin position-preset($position, $left:0, $top:0, $right:0, $bottom:0) { 
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}


@mixin font-preset($f-family: inherit, $f-size, $t-transf, $l-spacing:1px, $clr) { 
  font-family: $f-family;
  font-size: $f-size;
  text-transform: $t-transf;
  letter-spacing: $l-spacing;
  color: $clr;
}
